.container{
    /* background-color: #f0e3d1; */
    height: 500px;
    /* background-image: url(./image/gray.jpg); */

    
}

.header{
    /* background-color: rgb(69, 62, 62); */
    height: 111px;
}
.content{
    margin-top: -74px;
    /* background-color: rgb(116, 103, 103); */
    height: 449px;

}
.navbar{
    height: 44px;
    margin-left: 560px;
    list-style: none;
    /* background-color:blanchedalmond; */
    width: 377px;
    /* border-radius: 21px; */
    margin-top: -60px;
    font-size: larger;
}

.li{
    float: left;
    padding: 12px;
    color: black;
}
.icon{
    margin-left: 1239px;
    margin-top: -51px;
    border: 1px solid aqua;
    width: 111px;
    /*   */
    padding: 8px;
    border-radius: 50px;
    background-color: rgb(172, 122, 122);
}
.bean{
    width: 100px;
    height: 454px;
    margin-top: 26px;
}
.quote{
    width: 616px;
    height: 91px;
    margin-left: 477px;
    margin-top: -355px;
    font-size: 45px;
    font-weight: bold;
    font-family: cursive;
}
.energy{
    margin-left: 623px;
    font-style: italic;
    font-family: cursive;
    margin-top: 38px;
}
.cup{
    margin-left: 1138px;
    margin-top: -143px;
}
.button1{
    width: 178px;
    height: 37px;
    border-radius: 21px;
    font-size: 19px;
    font-family: cursive;
    background-color: rgb(172, 122, 122);
}
.ourself{
    background-color: #f4f4f4; 
    margin: 91px;
    border-radius: 76px;
    height: 292px;
    font-family: cursive;
    height: 351px;
}
.menu{
    font-family: cursive;
    
}
.row{
    width: 349px;
    height: 650px;
    float: left;
    margin-left: 20px;
    
}
.row1{
    margin-left: 152px;
    margin-top: -47px;
    
}
.row2{
    margin-top: 337px;
    padding: 220px;
    margin-left: -68px;
    

}
.checked{
    color: orange;
}
.reserve{
    width: 1141px;
    height: 500px;
    background-color: #FFEFEF;
    margin-top: 56px;
    margin-left: 176px;
    border-radius: 79px;
}
.forminp{
    width: 411px;
    height: 49px;
    text-align: center;
    font-size: 21px;
    border-radius: 9px;
    margin-top: 24px;
   background-color: white;
   border: white;
}
.dealer{
    width: 316px;
    height: 478px;
    background-color: white;
    float: left;
    margin-left: 10px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



